body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    position: relative;
    margin: 0 auto;
}

.clearfix {
    clear: both;    
}

.container {
    display: block;
    width: 100%; 
}

header {
    height: 200px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul#social-media {
    position: absolute;
    right: 0px;
    top: 15px;
}
ul#social-media > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
ul#social-media i {
    font-size: 30px;
}
#facebook {
    color: #4867AA;
}
#twitter {
    color: #1DA1F2;
}
#instagram {
    color: #8845C9;
}
#soundcloud {
    color: #FC441E;
}
#vimeo {
    color: #1AB7EA;
}
#envelope {
    color: #FFFDD0;
}
ul#social-media a:hover {
    color: white;
}

#info {
    position: absolute;
    top: 50px;
    left: 250px;
}
#info > a {
    display: block;
    font-family: 'Special Elite', cursive;
    font-size: 2em;
    color: coral;
    margin: 0;
}


#main-nav {
    font-family: 'Orbitron', sans-serif;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    background: rgba(255,127,80,0);
    background: -moz-linear-gradient(top, rgba(255,127,80,0) 0%, rgba(255,127,80,0) 1%, rgba(255,127,80,0.9) 50%, rgba(255,127,80,0.9) 51%, rgba(255,127,80,0.9) 52%, rgba(255,127,80,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,127,80,0)), color-stop(1%, rgba(255,127,80,0)), color-stop(50%, rgba(255,127,80,0.9)), color-stop(51%, rgba(255,127,80,0.9)), color-stop(52%, rgba(255,127,80,0.9)), color-stop(100%, rgba(255,127,80,0.9)));
    background: -webkit-linear-gradient(top, rgba(255,127,80,0) 0%, rgba(255,127,80,0) 1%, rgba(255,127,80,0.9) 50%, rgba(255,127,80,0.9) 51%, rgba(255,127,80,0.9) 52%, rgba(255,127,80,0.9) 100%);
    background: -o-linear-gradient(top, rgba(255,127,80,0) 0%, rgba(255,127,80,0) 1%, rgba(255,127,80,0.9) 50%, rgba(255,127,80,0.9) 51%, rgba(255,127,80,0.9) 52%, rgba(255,127,80,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(255,127,80,0) 0%, rgba(255,127,80,0) 1%, rgba(255,127,80,0.9) 50%, rgba(255,127,80,0.9) 51%, rgba(255,127,80,0.9) 52%, rgba(255,127,80,0.9) 100%);
    background: linear-gradient(to bottom, rgba(255,127,80,0) 0%, rgba(255,127,80,0) 1%, rgba(255,127,80,0.9) 50%, rgba(255,127,80,0.9) 51%, rgba(255,127,80,0.9) 52%, rgba(255,127,80,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f50', endColorstr='#ff7f50', GradientType=0 );
}

#main-nav > ul {
     text-align: center;
     margin-bottom: 5px;
}

#main-nav > ul > li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#main-nav > ul > li > a {
    color: floralwhite;
    font-size: 1.3em;
    font-weight: bold;
}

/* ===========================================DROPDOWN MENU==================================================================== */

#main-nav > ul > li.dropdown {
    position: relative;
}
#main-nav ul.submenu {
    position: absolute;
    display: none;
    width: 220px;
    text-align: left;
    background-color: rgba(0,0,0,0.5);
}
#main-nav > ul > li.dropdown > ul > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-bottom: 1px solid white;
}

/* ==================================================HOVER EFFECT*================================================================  */

#main-nav > ul > li:hover > a {
    color: #ddb8f9;
}
#main-nav > ul > li.dropdown:hover > a {
    background-color: rgba(0,0,0,0.5);
}
#main-nav > ul > li.dropdown > ul > li:hover > a {
    color: #ddb8f9;
}
#main-nav > ul > li.dropdown:hover > ul.submenu {
    display: block;
}

/*=====================================================MAIN CONTENT=================================================================*/
#contact-info {
    position: relative;
    top:240px;
    padding-left: 50%;
    margin-left: -540px;
}

.small-container {
    width: 300px;
    padding: 30px;
    float: left;
        
}
.small-container > h3 {
    color: #FE7E4F;
}


#contact-area {
    margin-top: 300px;
    margin-bottom: 80px;
    text-align: center;
}
#contact-area i {
    font-size: 3em;
    color: #FE7E4F;

}
#contact-form input {
    width: 30%;
    padding: 15px;
    margin: 20px;
    border:1px solid grey;
    border-radius: 5px;
}
#contact-form textarea {
    width: 30%;
    height: 120px;
    padding: 15px;
    margin: 20px;
    border:1px solid grey;
    border-radius: 5px;
}
#contact-form button {
    height: 50px;
    width: 120px;
    font-size: 1em;
    color: white;
    font-weight: 700;
    background-color: #FE7E4F;
    border:1px solid white;
    border-radius: 5px;
}

/* =========================================================FOOTER&SIDE============================================================ */

#attn {   
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}
#attn ul {
    margin: 0;
}
#attn ul li {
    width: 120px;
    text-align: center;
    background-color: rgba(255,127,80,0.5);
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
#attn ul li:hover a {
    color: #ddb8f9;
}


footer {
    margin-bottom: 0;
    text-align: center;
}
